html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    background-color: aqua;
}

.hi{
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    z-index:1;
    overflow:visible;
    justify-content: center;
    align-items: center;
    background: #000 url("loader_animation.gif") no-repeat center center;
}