html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* haha */

.home {
    position: fixed;
    bottom: 15px;
    right: 30px;
    font-size: 1.5rem;
    background-color: #414141;
    padding: 16px 16px;
    border-radius: 25%;
    z-index: 9999;
    box-shadow : 0 0px 7px rgba(216, 215, 215, 0.5);
  }

/* haha */

.hi{
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    z-index:1;
    overflow:visible;
    justify-content: center;
    align-items: center;
    /* background: #000 url("loader_animation.gif") no-repeat center center; */
    border: solid 6px red;
}

footer{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
    border: solid 6px rgb(55, 0, 255);

}
.first_form_tag{
    /* height:50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 6px rgb(255, 9, 255); */
    margin-top: 50px;
}
/* input,button{
    font-size: 3vw;

} */
@keyframes fade-up{

    0%{
        opacity:0;
        transform: translateY(0px) scale(1);
    }

    100%{
        opacity:1;
        transform: translate(-30px) scale(0);
    }
}
.displayer_container{
    display: flex;
    justify-content: center;
    align-items: center;

}
#displayer{
    position:fixed;
    margin-top:400px;
    margin-left:auto;
    margin-right:auto;
    /* border: 6px solid rgb(255, 0, 0); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: fixed;*/
    z-index: 9999999; 
    font-size: 40px;
    text-align: center;
    color: rgb(143, 67, 215);

}
.loader{

    height: auto;
    width:25vw;
    color: rgb(255, 255, 255);
    font-size: 100px;
    /* border: solid 6px rgb(81, 249, 63); */
    /* z-index: 9999999; */

    /* animation: fade-up 1s; */
}
.gridder{
    color:cyan;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    grid-gap:2rem;
    /* border: solid 6px rgb(208, 255, 0); */
    margin-left:100px;
    margin-right:100px;
    display: grid;

}
#grid_element{
    border: solid 6px rgb(0, 225, 255);

}
/* #loader{
    color:white;
}
#div{
    color: white;
}
#elements{

} */
 #fudge{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.apple_sauce{


}
.main_char_disp{
    width: 100%;
    height: auto;
    border: #fff 3px solid;
  }

.tingting{
    background: none;
    border: none;
    /* height: 53.7px;
    width:53.7px; */
border-radius: 50%;
/* display: flex;
justify-content: center;
align-items: center; */
  }
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .unclicked{
    pointer-events: none;
  }
    /* haha */

    nav{

      display: grid;
      place-items: center;
      /* background: #462baa; */
      padding-block: 1rem;
    }
    .search-box{
        margin-top: 30px;
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      box-shadow: 5px 5px 30px rgba(0,0,0,.2);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .search-box.active{
      width: 300px;
    }
    .search-box input{
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 50px;
      background: #fff;
      outline: none;
      padding: 0 60px 0 20px;
      font-size: 16px;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .search-box input.active{
      opacity: 1;
    }
    .search-box input::placeholder{
      color: #a6a6a6;
    }
    .search-box .search-icon{
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      height: 50px;
      width: 50px;
      background: #7507a1;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 22px;
      /* color: #664AFF; */
      color: #7507a1;;
      cursor: pointer;
      z-index: 1;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .search-box .search-icon.active{
      right: 5px;
      height: 30px;
      line-height: 30px;
      width: 30px;
      font-size: 16px;
      /* background: #664AFF; */
      background: #a1079e;
      color: #fff;
      transform: translateY(-50%) rotate(360deg);
      text-align: center;
    }
    .search-box .cancel-icon{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
      color: #fff;
      cursor: pointer;
      transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .search-box .cancel-icon.active{
      right: -40px;
      transform: translateY(-50%) rotate(360deg);
    }
    .search-box .search-data{
      text-align: center;
      padding-top: 7px;
      color: #fff;
      font-size: 18px;
      word-wrap: break-word;
    }
    .search-box .search-data.active{
      display: none;
    }
    @media only screen and (max-width:579px) {
      .gridder {

        padding-bottom: 40px;
      }
        .search-box.active {
          width: 185px;
        }
      
        #autoComplete.active {
          width: 200px;
          font-size: 14px;
        }
        ::placeholder{
          font-size:15px;
        }
    }
    @media only screen and (max-width:579px) {
    .gridder{

      display: grid;
      grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
      margin-left: 40px;
      margin-right: 40px;

    }
  }
  @media only screen and (max-width:421px) {
    .search-box.active {
              margin-right: 35px;
    }
  



  }
  @media only screen and (max-width:1591px) {
    .gridder{
      display: grid;
      grid-template-columns:repeat(auto-fill, minmax(175px, 1fr));
    }
  }
  @media only screen and (max-width:1984px) {
    .gridder{
      display: grid;
      grid-template-columns:repeat(auto-fill, minmax(130px, 1fr));
    }
  }
  @media only screen and (max-width:1186px) {
    .main_char_disp{
      border: #fff 2px solid;
  }
  }
  .loader{
    border:none;
  }
  @media only screen and (max-width:1056px) {
    .loader{
    height: auto;
    width:250px;
    }
    #displayer{
      margin-top:170px
    }
  }
  .main_char_disp{
    transition: 0.5s;
  }
  .main_char_disp:hover{
  transform: translateY(-20px);
  transition: 0.5s;
}